QUANTOPS_API_BASE_URL=http://localhost:8010
QUANTOPS_API_TIMEOUT_MS=8000
QUANTOPS_USE_PROXY=true
QUANTOPS_ENABLE_MOCK_FALLBACK=false
QUANTOPS_ENABLE_PROXY_MOCK=false
NEXT_PUBLIC_QUANTOPS_API_DEBUG_ERRORS=true
